.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url("./images/morass_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.body-icons {
  height: 5vh;
  width: 5vw;
  padding-left: 1vh;
}

.body-search {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

.App-footer {
  background-color: #ad787f;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.footer-icons { 
  align-items: right;
  height: 5vh;
  width: 5vh;
  padding-left: 5vw;
}

.footer-text {
  align-items: left;
  padding-right: 5vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
